<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="description" content="Medicamente si sfaturi medicale">
        <meta name="keywords" content="Medicamente, Ceai, Vitamine, Suplimente">
        <link rel="stylesheet" href="/style/index/index.css">
        <link rel="stylesheet" href="/style/index/index-450.css">
        <link rel="stylesheet" href="/style/index/index-1000.css">
        <%- include("../fragments/head.ejs") %>
    </head>
    <body>
        <%- include("../fragments/header.ejs") %>
        <main>
            <section id = "prezentare1" class="grid-container">
                <aside class="side-img">
                    <figure>
                        <img srcset="images/OTC/OTC-499w.jpeg 499w, images/OTC/OTC-374w.jpg 374w, images/OTC/OTC-250w.jpg 250w"
                        sizes="(max-width: 320px) 250px, (max-width: 768px) 374px, 499px"
                        src = "images/OTC/OTC-499w.jpeg"/>
                        <figcaption style = "text-align:center"><em>Medicamente OTC</em></figcaption>
                    </figure>
                </aside>
                <section id = "OTC">
                    <h2>Medicamentele <abbr title="Over The Counter">OTC</abbr></h2>
                    <section>
                        <h3>Ce sunt medicamentele OTC?</h3>
                        <p>Medicamentele care <b>se elibereaza fara prescriptie medicala</b> sunt acele medicamente care, prin compoziţie şi indicaţii, pot fi utilizate fara intervenţia unui medic, in scopul stabilirii diagnosticului, al prescrierii acestora sau pentru monitorizarea tratamentului, fiind suficiente, la nevoie, sfaturile farmacistilor. Medicamentele care <b>se elibereaza fara prescriptie medicala</b> trebuie utilizate conform prospectului sau indrumarii specialistilor in domeniul sanatatii.</p>
                        <a href="https://www.drugs.com" target="_blank">Verificati aici pentru mai multe informatii</a>
                    </section>

                    <section>
                        <h3>Cum se administreaza medicamentele OTC?</h3>
                        <p>Aceste tipuri de medicamente pot ajuta la tratarea sau prevenirea simptomelor unor boli sau a diverselor probleme de sanatate. Cu toate acestea, uneori OTC-urile pot provoca efecte neplacute sau reactii adverse. Acestea pot sa apara ca urmare a interactiunii dintre mai multe medicamente, sau din interactiunea dintre medicamente si anumite produse alimentare. </p>
                    </section>
                </section>
                <aside class="side-img">
                    <figure>
                        <img src = "images/minimartieni.jpg"/>
                        <figcaption style = "text-align:center"><em><a href = "images/minimartieni.jpg" download>Minimartieni</a></em></figcaption>
                    </figure>
                </aside>
                <section id = "vit">
                    <h2>Vitamine si suplimente</h2>
                    <section>
                        <h3>Care sunt cele mai bune suplimente alimentare pentru slabit de la Farmacias?</h3>
                        <p>Pentru reducerea apetitului ai la dispozitie in magazinul nostru o gama variata de suplimente alimentare pentru slabit, ceaiuri, batoane pentru slabit de la branduri precum Alevia, Capsugel, Dacia Plant, Fares, General Nutrition, Herbagetica, Hofigal, Jamieson, Medica, Sanofi, Sicuroslim, Solaris, Remedia, Rotta Natura, Naturalis, Walmark sau Organic India.</p>
                        <p>Poti alege suplimente alimentare sub forma de capsule, comprimate, plicuri, tablete, ceaiuri, tinctura pentru slabit sau fibre pentru slabit. Pentru arderea grasimilor gasesti suplimente alimentare naturale, ceai antiadipos, plasturi pentru slabit sau crom. Pentru detoxifiere si tranzit, dar si pentru eliminarea excesului de apa sunt disponibile la Farmacias zeci de suplimente alimentare pentru slabit, ceaiuri pentru slabit si alte produse.</p>
                    </section>
                    <section>
                        <h3>Ce suplimente alimentare naturale sunt recomandate, in functie de nevoi?</h3>
                        <p>Atunci cand vrei sa achizitionezi suplimente alimentare naturale este important sa le alegi pe cele mai potrivite in functie de nevoile tale. Daca vrei sa iei suplimente alimentare pentru memorie, atunci poti alege GinkgoBiloba de la Naturalis, lecitina sau MemoPlus de la Walmark, Asolecitin de la Biofarm, tinctura de roinita de la Dacia Plant sau Memory Stem de la Herbagetica. Daca vrei sa iei suplimente alimentare pentru imunitate poti opta pentru Imunosuport Forte de la Naturalis, Molekin Imuno de la Zdrovit, Propolis C Imunocomplex de la Fiterman sau Viusid Sirop supliment pentru intarirea imunitatii de la Catalysis.</p>
                    </section>
                </section>
            </section>
            <section id="tabel2" class="grid-container">
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Farmacie</th>
                                <th>Telefon</th>
                                <th>Adresa</th>
                                <th>Program</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="c1">Farmacias Barbu Vacarescu</td>
                                <td class="c2 telcol">+4 0729 883 556</td>
                                <td class="c1">Bd. Barbu Vacarescu 154 - 158,<br> Sector 2, Romania, Bucuresti</td>
                                <td class="c2 programcol">Luni - Vineri 08:00 - 20:45,<br> Sambata - Duminica 08:00 - 16:45</td>
                            </tr>
                            <tr>
                                <td class="c1">Farmacias Dristor</td>
                                <td class="c2 telcol">+4 0786 870 215</td>
                                <td class="c1">Bd. Camil Ressu 7,<br> Sector 3, Romania, Bucuresti</td>
                                <td class="c2 programcol">Luni - Vineri 08:00 - 20:45,<br> Sambata - Duminica 08:00 - 16:45</td>
                            </tr>
                            <tr>
                                <td class="c1">Farmacias Piata Romana</td>
                                <td class="c2 telcol">+4 0756 037 165</td>
                                <td class="c1">Bd. Timișoara 26,<br> Sector 6, Romania, Bucuresti</td>
                                <td class="c2 programcol">Luni - Vineri 08:00 - 22:00,<br> Sambata - Duminica 10:00 - 20:00</td>
                            </tr>
                            <tr>
                                <td class="c1">Farmacias Vivo Constanta</td>
                                <td class="c2 telcol">+4 0748 178 336</td>
                                <td class="c1">Bd. Aurel Vlaicu 220,<br> Romania, Constanta</td>
                                <td class="c2 programcol">Luni - Vineri 08:00 - 22:00,<br> Sambata - Duminica 10:00 - 20:00</td>
                            </tr>
                            <tr>
                                <td class="c1"> --- </td>
                                <td class="c2 telcol"> --- </td>
                                <td class="c1"> --- </td>
                                <td class="c2 programcol"> --- </td>
                            </tr>
                            <tr>
                                <td class="c1"> --- </td>
                                <td class="c2 telcol"> --- </td>
                                <td class="c1"> --- </td>
                                <td class="c2 programcol"> --- </td>
                            </tr>
                            <tr>
                                <td class="c1"> --- </td>
                                <td class="c2 telcol"> --- </td>
                                <td class="c1"> --- </td>
                                <td class="c2 programcol"> --- </td>
                            </tr>
                            <tr>
                                <td class="c1"> --- </td>
                                <td class="c2 telcol"> --- </td>
                                <td class="c1"> --- </td>
                                <td class="c2 programcol"> --- </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <section id="calendar3" class="grid-container">
                <h2 class="placeholder">Placeholder</h2>
            </section>
            <section id="anunturi4" class="grid-container">
                <h2 class="placeholder">Placeholder</h2>
            </section>
            <section id="utilizatori5" class="grid-container">
                <h2 class="placeholder">IP <%= ip %></h2>
            </section>
            <section id="statistici6" class="grid-container">
                <h2 class="placeholder">Placeholder</h2>
            </section>
            <section id="despre7" class="grid-container">
                <h2 class="placeholder">Ultimul Produs Accesat</h2>
            </section>
            <section id = "int8" class="grid-container">
                <h2>Videoclipuri interesante</h2>
                <div id="video-tabs">
                    <div id="tabs">
                        <div><a href="https://www.youtube.com/embed/BwTeFRcPeJI" target="ifr-video" class="tab"><span>Cum se fac medicamentele</span></a></div>
                        <div><a href="https://www.youtube.com/embed/IOf-z0D1mHk" target="ifr-video" class="tab"><span>Cum absoarbe corpul medicamentele</span></a></div>
                        <div><a href="https://www.youtube.com/embed/Sdvlhgqfpkk" target="ifr-video" class="tab"><span>Cum se fac vitaminele</span></a></div>
                    </div>
                    <iframe id="tab" name="ifr-video" width="560" height="315" src="https://www.youtube.com/embed/BwTeFRcPeJI" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                </div>
            </section>
            <div class="hr-container">
                <hr>
            </div>
            <section id = "galerie9" class="grid-container">
                <h2>Galerie</h2>
                <%- include("../fragments/gallery.ejs") %>
            </section>
        </main>
        <%- include("../fragments/footer.ejs") %>
    </body>
</html>